*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

a{
text-decoration:none;
color:#333;
}

img,
object,
audio,
video {
  height: auto;
  max-width: 100%;
  outline:none;
}

input,button{
 border:none;
  outline:none;
}